
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/bootstrap0.css" rel="stylesheet">
    <link href="/Content/main.css" rel="stylesheet">
    <meta http-equiv="refresh" content="30000"> 
    <title>Dashboard</title>
</head>
<body style="background-color:#1f1f1f;">
    <div style="background-color:#1f1f1f;height:600px">

            <div class="cont">
                <div id="bigLogoimg">
                    <img style="width:auto;height:80px;" src="~/Content/logo_app1_sml.png" />
                </div>
                <div style="height:15px"></div>
                <div style="font-size:16px;color:skyblue">@ViewData["time"]</div>
                <div style="height:20px"></div>
                <div style="font-size:80px;color:white">@ViewData["total"]</div>
                <div style="background-color:black;height:auto">
                    <div style="position:absolute;left:32px;top:270px;text-align:center;background-color:#1f1f1f;height:auto">
                        <div style="font-size:22px;color:skyblue">Trial</div>
                        <div style="font-size:48px;color:white">@ViewData["trial"]</div>
                        <div style="font-size:24px;color:white">Expired: @ViewData["exp"]</div>
                        <div style="font-size:24px;color:white">Check: @ViewData["ect"]</div>
                    </div>

                    <div style="position:absolute;right:32px;top:270px;text-align:center;background-color:#1f1f1f;height:auto">
                        <div style="font-size:22px;color:skyblue">Paid</div>
                        <div style="font-size:48px;color:white">@ViewData["paid"]</div>
                        <div style="font-size:22px;color:skyblue">1 Month: @ViewData["1m"]</div>
                        <div style="font-size:22px;color:skyblue">1 Year: @ViewData["1y"]</div>
                        <div style="font-size:22px;color:skyblue">Android: @ViewData["android"]</div>
                        <div style="font-size:22px;color:skyblue">iOS: @ViewData["ios"]</div>
                    </div>
                </div>
                
            </div>
        </div>
</body>
</html>
